/* .page-container {
    background-image: url('../../assets/images/confirmation_page.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
} */

.sub-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10%;
    background-color: white;
    opacity: 0.5;
}

.container-title {
    font-family: "Gill Sans", sans-serif;
    color: black;
    font-size: 200%;
    font-weight: bold;
}

.container-subtitle {
    font-family: "Gill Sans", sans-serif;
    color: black;
    font-size: 150%;
    font-weight: bold;
}
